---
import Layout from '../layouts/index.astro'; 
import Navbar from '../components/astro/navbar.astro';

---

<Layout title={"about of my app"}>
    <Navbar />
    <h1 class="p-8 text-3xl font-bold text-center">About</h1>
</Layout>