---
import Layout from '../layouts/index.astro'; 
import Navbar from '../components/astro/navbar.astro';
import App from '../components/react/miniapp/App.jsx'; 
import SvelteApp from '../components/svelte/miniapp/App.svelte';
---  
<Layout title={"entry of my app"}>
    <Navbar /> 
    <h1 class="text-center text-2xl font-bold p-4">Look at how we can have a react app here!!</h1>
    <section class="flex items-center justify-center mt-10">
        <App client:only="react" />
    </section>
    <section>
        <h1 class="text-center text-2xl font-semibold p-6 pb-9">While other parts are standard jsx/html</h1>
    </section>
    <h1 class = "text-center text-2xl font-bold p-4">Wow we also have a svelte app</h1>
    <footer class="flex items-center justify-center mt-10 mb-12 pb-4">
        <SvelteApp client:only="svelte" />
    </footer>
</Layout>