---
import Layout from '../layouts/index.astro'; 
import Navbar from '../components/astro/navbar.astro';
import App from '../components/react/miniapp/App.jsx'; 
---  
<Layout title={"entry of my app"}>
    <Navbar /> 
    <h1 class="text-center text-2xl font-bold p-4">Look at how we can have a react app here!!</h1>
    <div class="flex items-center justify-center">
        <App client:only />
    </div>
</Layout>